.token {
    display: flex;
    flex-direction: row;
    border-top: 2px solid transparent;
    margin-top: 0.4rem;
    padding-top: 0.1rem;
}

.current {
    border-top: 2px solid #eee;
    border-radius: 5px;
}
