.text-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: rgb(214, 211, 209);
    width: 900px;
    line-break: auto;
    margin: 0 auto;
    padding: 1rem;
}
