.text-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.3);
    width: 900px;
    line-break: auto;
    margin: 0 auto;
    padding: 1rem;
}

.text-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.3);
    width: 900px;
    line-break: auto;
    margin: 0 auto;
    padding: 1rem;
}





.token {
    display: flex;
    flex-direction: row;
    border-top: 2px solid transparent;
    margin-top: 0.4rem;
}

.token.current {
    border-top: 2px solid #eee;
    border-radius: 5px;
}
