@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /*background: rgba(36, 14, 50, 0.89);*/
  font-family: "Ubuntu Mono", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #333;
  font-family: 'Ubuntu Mono', sans-serif;
  text-decoration: none;
}

button {
  background: #fff;
  border: 1px solid #333;
  border-radius: 3px;
  height: 2rem;
  outline: none;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  box-shadow: 2px 2px 5px 0 #aaa;
}

button:active {
  box-shadow: inset 2px 0 8px 1px #aaa;
}
