.progress-container {
    background: rgb(214, 211, 209);
    width: 900px;
    margin: 1rem auto;
    padding: 1rem;
}

.progress-label {
    color: #1f1e1e;
    font-weight: bold;
}

.progress-bar {
    background: greenyellow;
    border: none;  /* for FireFox */
}
